*{
	margin: 0px;
	padding: 0px;
}

/*Project*/

#ig2{
	height: 1000px;
	width: 100%;
}


#container {
	/*border: 2px solid green;*/
	height: 1000px;
}

#menu-items{
	height: 100%;
	width: 100%;
	
	position: absolute;
}

#ig{
	height: 100%;
	width: 100%;
}
#ul{
	list-style-type: none;
	display: flex;
	float: right;
	
	
}
#ul li{
	/*text-decoration: none;*/
	margin: 5px;
	padding: 10px;

	
}
#ul li a{
	text-decoration: none;
	font-size: 20px;
	color: black;
}
#ul li a:hover{
	color: brown;
	cursor: pointer;
}
#text{
	transform: translate(30px,-700px);
	font-size: 60px;
}

#bottom{
	height: 1030px;
	width: 1000;
	/*border: 2px solid red;*/
}
.card{
	/*border: 1px solid brown;*/
	width: 1000px;
}
#list:hover{
	/*cursor: pointer;
	background: gray;*/

}
#ho:hover{
	cursor: pointer;
	background: lightgrey;
	
}

#sd{
	margin-left: 40px;
}


#para{
	width: 400px;
	height:400;
}

#lemon{
	height: 235px;	
}
/*
#wed{
	height: 500px;
	width: 500px;
	border: 1px solid black;
}*/
/*#line{
	height: 200px;
	width: 1px;
	border: 1px solid brown;
	transform: translate(600px);
}*/


 /*a{
	text-decoration: none;

}*/
.bot{
	height: 80px;
	width: 100%;
	/*margin-top: 5px;*/
	background-color:lightcyan;
	text-align: center;
	font-family: "Gill Sans", sans-serif;
}
#list h5{
	 font-family: sans-serif;
}

/*Contact*/

#back{
	background-image: url(back.jpg);
	height: 700px;
	width: 100%;
	margin: 0;
	padding: 0;

}
#back a{
	text-decoration: none;

}
#back a:hover{
	color: red;
}

#start{
	height: 100px;
	width: 100%;
	border: 1px solid black;
	background: black;
}
#start img{
	margin-left: 50px;
}

h4 {
	margin: 0 !important;
}

#tact{
	height: 500px;
	width: 700px;
	border: 1px solid black;
	margin: auto;

	margin-top: 50px;
	background: lightseagreen;
	border-radius: 10px;
	box-shadow: 10px  5px  5px 5px;
}

#con h1{
	 font-family: Georgia, serif;
}
#con{
    margin: auto;
	text-align: center;

}

#detail{
	margin-top: 30px;
	margin-left: 10px;
	
}
#message{
	transform: translate(330px,-180px);
}
#detail input{
	height: 30px;
	width: 40%;
	margin: 5px;
	padding: 5px;
}
#message input{
	
}

#detail button{
	transform: translate(500px,-100px);
}

/*About*/

#ab{
	transform: translate(100px,-1000px);
	color: white;
	font-size: 20px;
	trns

}
#back img{
	
}
#menu-item{
	height: 100%;
	width: 100%;
	
	position: absolute;

}

#menu-item ul{
	list-style-type: none;
	display: flex;
	float: left;

}
#menu-item ul li{
	margin: 5px;
	padding: 10px;

}

#menu-item ul li a{
	text-decoration: none;
	font-size: 20px;
	/*color: darkgrey;*/
}
#bout{
	height: 250px;
	width: 200px;
	border: 2px solid white;
	transform: translate(30px,-350px);

/*	rotate: 5deg;*/


}
/*.shi{
	width: 100%;
	height: 1000px;
	border: 1px solid black;*/
/*	transform: translate(0px,-500px);*/
}

/*Wed*/

.container{
	border: 2px solid green;
	width: 500px;
	margin: auto;
}
.container:hover{
	cursor: pointer;
	box-shadow: 0 5px 5px;
}

#wed{
	background: lightgoldenrodyellow;
}
#wed hr{
	width: 600px;
}

/*menu*/
#food1{
	margin: 50px;
	overflow: hidden;
}
#food{
	padding: 20px;
	margin: 30px;
}


			